extends layout.pug
include post_form.pug
include post_content.pug

block content
  h1 /#{tag}/ - #{boardName}

  +post_form(postingMode)

  include pagination.pug

  div.threads
    each thread in threads
      div.thread(id=thread.id)
        +post_content(thread, "board", texts)
        blockquote.thread_info
          if typeof(thread.repliesCount) === 'number'
            div.thread_info
              span.post_count !{texts.post_count}: !{thread.repliesCount}
              if thread.bump_limit_reached
                | #{' '}
                span.bump_limit_flag (!{texts.bump_limit_flag})

  include pagination.pug
