extends layout.pug

block content
  h1 /#{tag}/ - #{board_name}
  div.threads
    each thread in threads
      div.thread(id=thread.id)
        label.post_header
          - const post = thread
          include post_header_elements
          a.post_header_element.reply_button(
            href='/' + tag + '/' + thread.id + '/'
          ) Replies
        blockquote.post_message !{thread.message}
  form.new_thread(action='/post', method='POST')
    include post_form
    input(type='hidden', name='tag', value=tag)
    input(type='submit', value='Submit')
