extends layout.pug

block content
  h1 /#{tag}/ - #{boardName}
  div.posting_mode #{texts.posting_mode}: #{texts.posting_mode_post}
  form.new_thread(action='/post', method='POST', enctype="multipart/form-data")

    include post_form_common
    input(type='hidden', name='tag', value=tag)
    input(type='file' name='image')
    p
    input(type='submit', value=texts.submit)

  include pagination.pug

  div.threads
    each thread in threads
      div.thread(id=thread.id)
        label.post_header
          - const post = thread
          include post_header_elements
          |#{' / '}
          a.post_header_element.reply_button(
            href='/' + tag + '/' + thread.id + '/'
          ) #{texts.into_thread}
        blockquote.post_message
          p !{thread.message}
          div.post_count.thread_info !{texts.post_count}: !{thread.repliesCount}

  
  include pagination.pug
