extends layout.pug

block content
  h1 /#{tag}/ - #{board_name}
  div.threads
    each thread in threads
      div.thread(id=thread.id)
        div.post_header
          div.post_header_element.subject #{thread.subject}
          div.post_header_element.poster #{thread.poster}
          div.post_header_element.timestamp #{thread.timestamp}
          div.post_header_element.thread_id #{thread.id}
          div.post_header_element.reply_button
            a(href='/' + tag + '/' + thread.id + '/') Replies
        div.post_message
          p !{thread.message}
  form.new_thread(action='/post', method='POST')
    include post_form
    input(type='hidden', name='tag', value=tag)
    input(type='submit', value='Submit')
