extends layout.pug
include post_content.pug

block content
  h1 /#{tag}/ - #{boardName}
  div
    a(href='/' + tag) #{texts.up}

  div.postarea
    div.posting_mode= `${texts.posting_mode}: `
      span.posting_mode= texts.posting_mode_forbidden

  div.thread
    +post_content(thread, "thread", texts)
    each post in posts
      div.post(id=post.id)
        +post_content(post, "thread", texts)

  div.postarea
    div.posting_mode= `${texts.posting_mode}: `
      span.posting_mode= texts.posting_mode_forbidden
