doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    if tag
      title /#{tag}/ - #{board_name} - #{texts.pissychan}
    else
      title=texts.pissychan

    link(rel='stylesheet' href='/css/style.css')
    style.
      table.ui.celled img { display: inline-block; }
      footer { margin: 35px 0 15px 0; text-align: center }

  body
    main#main
    .ui.container

      div.navbar
        | #{'[ '}
        each nav in navs
          a(href=nav) #{nav}
          | #{' '}
        | #{'] [ '}
        a(href='/') #{texts.link_home + ' '}
        | #{'] '}

      block content

    block footer
      footer
        p= version + ' © ' + new Date().getFullYear() + ' Ume, '
          a(href='http://www.wtfpl.net/') WTFPL
