mixin navbar(navs, texts, id)
  div.navbar(id=id)
    | #{'[ '}
    if navs
      each nav in navs
        a(href=nav) #{nav}
        | #{' '}
    | #{'] [ '}
    a(href='/') #{texts.link_home}
    | #{' ]'}

doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    if tag
      title /#{tag}/ - #{boardName} - #{texts.pissychan}
    else if title
      title=title
    else
      title=texts.pissychan

    link(rel="icon" href="data:,")
    link(rel='stylesheet' href='/css/style.css')
    if themeUrl
      link(rel='stylesheet' href=themeUrl)
    script(src='/scripts/kukold.js' defer)

  body

    +navbar(navs, texts, 'top-navbar')

    div.navbar#nav-down(style='display:none', text=`${texts.navDown}`)
    div.navbar#nav-down-floating(style='display:none', text=`${texts.navDown}`)

    main
      block content

    div.navbar#go-up-button
      | #{'[ '}
      a(href='#') #{texts.navUp}
      | #{' ]'}

    +navbar(navs, texts, 'bottom-navbar')

    div.navbar#settins
      | #{'[ '}
      a(href='/settings') #{texts.settings}
      | #{' ]'}

    block footer
      footer
        p= version + ' © U-Me Group 2020-' + new Date().getFullYear() + ', '
          a(href='http://www.wtfpl.net/') WTFPL
