label.input_post Name:
input.input_post(
  type='text'
  name='poster'
  value=''
  size='30'
)
label.input_post Subject:
textarea.input_post(
  type='text'
  name='subject'
  value=''
  rows='1'
  cols='40'
)
label.input_post Message:
textarea.input_post(
  type='text'
  name='message'
  value=''
  rows='10'
  cols='40'
)
