div.form_label
  label.input_post #{texts.name}:
div.form_input
  input.input_post(
    type='text'
    name='poster'
    value=''
    size='30'
  )
div.form_label
  label.input_post #{texts.subject}:
div.form_input
  textarea.input_post(
    type='text'
    name='subject'
    value=''
    rows='1'
    cols='40'
  )
div.form_label
  label.input_post #{texts.message}:
div.form_input
  textarea.input_post(
    type='text'
    name='message'
    value=''
    rows='10'
    cols='40'
  )
