div.posting_mode #{texts.posting_mode}: #{texts.posting_mode_reply}
form.new_post(action='/post', method='POST')
  include post_form_common
  input(type='hidden', name='tag', value=tag)
  input(type='hidden', name='thread', value=thread.id)
  input(type='submit', value=texts.submit)
  label.sage
    input(type='checkbox' name='sage')
    | #{texts.sage}
