label.input_post #{texts.name}:
input.input_post(
  type='text'
  name='poster'
  value=''
  size='30'
)
label.input_post #{texts.subject}:
textarea.input_post(
  type='text'
  name='subject'
  value=''
  rows='1'
  cols='40'
)
label.input_post #{texts.message}:
textarea.input_post(
  type='text'
  name='message'
  value=''
  rows='10'
  cols='40'
)
