extends layout.pug
include post_content.pug

block content
  h1 #{texts.pissychan}
  div.boards
    each board in boards
      div.board
        a(href='/' + board.tag + '/') /#{board.tag}/ - #{board.name}
        if board.new_posts_count
          | #{' '}
          span.new_posts_count (+#{board.new_posts_count})
  h2 #{texts.feed}
  include pagination.pug
  div.posts
    each post in posts
      div.thread(id=post.id)
        +post_content(post, "feed", texts)
  include pagination.pug
