extends layout.pug
include post_form.pug

block content
  h1 #{texts.settings}
  div.settings-block
    // Internationalization pass-through for in-browser rendering
    div#settings-texts(textEnable=texts.settingEnable, textDisable=texts.settingDisable, textEnabled=texts.settingEnabled, textDisabled=texts.settingDisabled)
    // Placeholder to be rendered by scripts in the browser
    div.settings-section#settings-section-nav-floating(title=texts.settingNavDownFloating)
    div.settings-section#settings-section-theme
      h2 #{texts.settingThemes}
      each theme in themes
        li
          a.theme-link(href='/settings?theme=' + theme.name) #{theme.name}
          |  #{theme.selected ? '(' + texts.settingSelected + ')' : '' }
