extends layout.pug

block content
  h1 /#{board_name}/ - Board name
  div.thread
    div.post_header
      div.post_header_element.thread_id #{thread.id}
      div.post_header_element.timestamp #{thread.timestamp}
      div.post_header_element.subject #{thread.subject}
      div.post_header_element.poster #{thread.poster}
    div.post_message
      p #{thread.message}
    each post in posts
      div.post(id=post.id)
        div.post_header
          div.post_header_element.post_id #{post.id}
          div.post_header_element.timestamp #{post.timestamp}
          div.post_header_element.subject #{post.subject}
          div.post_header_element.poster #{post.poster}
        div.post_message
          p #{post.message}
  form.new_post(action='/post', method='POST')
    label.input_post Name:
    input.input_post(
      type='text'
      name='poster'
      value=''
      size='30'
    )
    label.input_post Subject:
    textarea.input_post(
      type='text'
      name='subject'
      value=''
      rows='1'
      cols='40'
    )
    label.input_post Message:
    textarea.input_post(
      type='text'
      name='message'
      value=''
      rows='10'
      cols='40'
    )
    input(type='hidden', name="board_name", value=board_name)
    input(type='hidden', name="thread", value=thread.id)
    input(type='submit', value='Submit')
