extends layout.pug

block content
  h1 /#{tag}/ - #{board_name}
  div
    a(href='/' + tag) Return
  div.posting_mode Posting mode: Reply
  div.thread
    label.post_header
      b.post_header_element.subject= thread.subject + ' '
      a.post_header_element.poster= thread.poster + ' '
      a.post_header_element.timestamp= thread.timestamp + ' '
      a.post_header_element.thread_id= thread.id + ' '
    blockquote.post_message !{thread.message}
    each post in posts
      div.post(id=post.id)
        label.post_header
          b.post_header_element.subject= post.subject + ' '
          a.post_header_element.poster= post.poster + ' '
          a.post_header_element.timestamp= post.timestamp + ' '
          a.post_header_element.thread_id= post.id + ' '
        blockquote.post_message !{post.message}
  form.new_post(action='/post', method='POST')
    include post_form
    input(type='hidden', name="tag", value=tag)
    input(type='hidden', name="thread", value=thread.id)
    input(type='submit', value='Submit')
